.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper{
  margin-top: 180px !important;
}

.card{
  margin: 30px;
  overflow: hidden;
}

.img{
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}

img:hover{
  transform: scale(1.5);
  transition: all .5s;
}

.top-block{
  background-color: rgba(51, 51, 51, 0.44);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  height: 300px;
  animation: top-block-expand 3s ease-in-out 1 forwards;
}
@keyframes top-block-expand{
  from{
    height: 0;
  }
  to{
    height: 180px;
  }
}
body{
  background-color: rgb(79, 42, 111);
}

.banner-text{
  color: white;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 450px;
  height: 100px;
  z-index: 1;
  width: 100%;
  text-shadow: -5px 9px 10px rgba(244,244,244,0.69);
  white-space: nowrap;
  animation: banner-animation 8s ease-in-out 50 alternate;
}
@keyframes banner-animation{
  0%{

  }

  50%{
    font-size: 150px;
  }

  100%{
    left: -450px;
  }
}